{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommendation</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
      {% block content %}
        {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes/">Recipes</a></li>
                <li><a href="/shopping_list/">Shopping List</a></li>
                <li><a href="/profile/">Profile</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2024 Recipe Recommendation</p>
    </footer>
</body>
</html>
